// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//css proprio
@import './firewall.scss';


//sweet alert 2 scss
@import './sweetalert2.scss';
